.youtube-external-subtitle {
  color: yellow;
  /*text-shadow: -4px 0 black, 0 4px black,
    4px 0 black, 0 -4px black;*/
    text-shadow: 2px 0 0 black, 0 2px 0 black,
     0 -2px 0 black, -2px 0 0 black,
      2px 2px 0 black, 2px -2px 0 black,
       -2px 2px 0 black, -2px -2px 0 black;
  background: none;
  font-size: 40px;
}
